*
!*.py
!*.md
!*.txt
!*.jpg
!requirements*
!Dockerfile*
!*.sh
!.gitignore
!models/
!models/*
models/Model_Lambda/__pycache__/*
!benchmark/
!benchmark/**
!mainscripts/
!mainscripts/**
mainscripts/__pycache__/*